<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Waitlist Confirmation</title>
</head>
<body>
  <div style="border-width: 1px; border-style: solid; border-color: #E0E0E0; border-radius: 3px; padding: 16px; max-width: 512px; margin-left: auto; margin-right: auto;">
    <p>GM <strong><%= user.name %></strong>,</p>
    <p>Thank you for showing interest in Phyken Network. We are excited to inform you that your email has been added to our waitlist. We will notify you as soon as we launch</p>
    <br>
    <div style="color: #757575; margin-left: auto; margin-right: auto; text-align: center;">
      <small>⚡ This is an automated email, please do not reply ⚡</small> <br>
      <small><a href="https://phyken.network">Phyken Network - 2024</a></small>
    </div>
  </div>
</body>
</html>
